*.pyc
nmap_test/ports.txt
txtfiles/
zipfiles/
flask/ports.txt
flask/interfaces.txt
reportdownload/
ports/
flask/ports
sudo 
interfaces.txt
flask/int/ip.txt
flask/int/intname.txt
flask/int/intsubnet.txt
