*.pyc
nmap_test/ports.txt
txtfiles/
zipfiles/
flask/ports.txt
flask/interfaces.txt
reportdownload/
ports/
flask/ports
sudo 
interfaces.txt
int/intip.txt
int/intsubnet.txt
int/activehosts.txt
int/activehostsoutputnmap.txt
