{% extends 'base.html' %}

{% block head %}
<script type="text/python" src="../app.py"></script>
{% endblock %}

{% block nav %}
<a class="nav-link " href="/createScan">Scan device</a>
<a class="nav-link" href="/configuration">Confgiuration</a>
<a class="nav-link" href="/reports">Reports</a>
<a class="nav-link" href="/activehosts">Active hosts</a>
{% endblock %}

{% block body %}
<!-- print the ip and subnet you scanned -->
<h1>All active hosts for {{scannedip}} are:</h1>
<br>
<!-- prints the active hosts in the given list and print them  -->
{% for ip in activehosts %}
    <input type="text" value={{ip}} readonly></input>
    <br>
    <br>
{% endfor %}
<br>
<br>
{% endblock %}