{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block nav %}
<a class="nav-link" href="/createScan">Scan device</a>
<a class="nav-link" href="/configuration">Confgiuration</a>
<a class="nav-link" href="/reports">Reports</a>
<a class="nav-link" href="/activehosts">Active hosts</a>
{% endblock %}

{% block body %}
<div class="row">
    <div class="column">
        <h2>Add a question</h2>
    </div>
</div>
<div class="row">
    
</div>
<!-- <p>{{ key }}</p>
<p>{{ value }}</p> -->

{% endblock %}