{% extends 'base.html' %}

{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/python" src="../app.py"></script>
<!-- <script type=text/javascript>
    $(function() {
        $('a#send').bind('click', function() {
            $.getJSON('/addIp',
                function(data) {
        
            });
            return false;
        });
    });
</script> -->
{% endblock %}

{% block body %}
<h2>Start a new scan</h2>

<p>Add ip address to the list:</p>
<div class="form">
    <form action="/addIP" method="POST">
        <label><b>Ip address :</b></label> <br> 
        <input type="text" name="inputIP" id="inputIP" placeholder="192.168.0.1"> 
        <button type="submit" class="addIP" id="addIP">Add ip address</button>
    </form>    
</div>

<br>
<br>
<div class="list">
    <p>Added ip adresses:</p>
    <br>
    {% for ip in IpAdressen %}
    <tr>
        <form action="/delIP" method="POST">
            <td><input type="text" value={{ip}} name="delIP" readonly></input></td>
            <td><button type="submit" class="delIP" id="delIP">Delete ip address</button></td></form>
        <br>
        <br>
    </tr>
    {% endfor %}
</div>

{% endblock %}