{% extends 'base.html' %}
{% block head %}
<script type="text/python" src="../app.py"></script>
{% endblock %}

{% block nav %}
<a class="nav-link active" href="/createScan">Scan device</a>
<a class="nav-link" href="/configuration">Confgiuration</a>
<a class="nav-link" href="/reports">Reports</a>
{% endblock %}

{% block body %}

    <div class="row">
        <h2>Start a new scan</h2>
    </div>

    <div class="row">
        <div class="column">

            <form action="/addIP" method="POST">
                <div class="form-group">
                    <label for="inputIP"><b>Enter IP address</b></label>
                    <input class="form-control" type="text" name="inputIP" id="inputIP" placeholder="IP address"
                        required>
                    <small id="ipHelp" class="form-text text-muted">Example of a valid IP address: 192.168.0.2</small>
                </div>
                <div class="form-group">
                    <button type="submit" class="addIP btn btn-primary " id="addIP">Add IP address</button>
                </div>


            </form>
        </div>
    </div>

    <div class="row">
        <div class="column">
            {% for i in errorList%}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{i}}
                <button type="button btn-sm" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            <div class="list">
                <!-- <h5>IP address list</h5> -->
                <caption><i>List of IP addresses</i></caption>
                <table class="table table-borderless table-sm">
                    {% for ip in IpAdressen %}
                    <tr>

                        <form action="/delIP" method="POST">
                            <td><input type="text" value={{ip}} name="delIP" readonly></input></td>
                            <td><button class="btn btn-outline-danger btn-sm" type="submit" class="delIP"
                                    id="delIP">Delete
                                </button></td>
                        </form>

                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <form action="/sendScan" method="POST">
                <!-- <div class="scanform"></div> -->

                <div class="form-group">
                    <label for="inputName"><b>Enter devicename</b></label>
                    <input class="form-control" type="text" name="inputName" id="inputName" placeholder="Devicename"
                        required>
                </div>
                <div class="form-group">
                    <label for="selectScanType"><b>Select the type of scan</b></label>
                    <select name="conf" id="conf" class="form-control" id="selectScanType">
                        <option value="daba56c8-73ec-11df-a475-002264764cea">Full and Fast</option>
                        <option value="698f691e-7489-11df-9d8c-002264764cea">Full and Fast Ultimate</option>
                        <option value="708f25c4-7489-11df-8094-002264764cea">Full and very Deep</option>
                        <option value="74db13d6-7489-11df-91b9-002264764cea">Full and very Deep Ultimate</option>
                    </select>
                </div>
                <button type="submit" class="btnSendScan btn btn-primary" id="btnSendScan">Send scan</button>
            </form>

        </div>
    </div>
    
    <br>


{% endblock %}