{% extends 'base.html' %}
{% block nav %}
<a class="nav-link" href="/createScan">Scan device</a>
<a class="nav-link" href="/configuration">Configuration</a>
<a class="nav-link" href="/reports">Reports</a>
<a class="nav-link" href="/questionOverview">General questions</a>
<a class="nav-link" href="/activehosts">Active hosts</a>
{% endblock %}

{% block body %}
<div class="row">
    <h1>Questions about {{targetname}}</h1>
</div>
<br>
<div class="row">
    <form action="/portAnswers" method="POST">

        {% for ip in iplist %}
        {% for port in ports[ip]%}
        <div class="form-group">
            <label for="inputIP">Did you know that port <b>{{port}}</b> on host <b>{{ip}}</b> was open?</label><br>
            <div class="form-check form-check-inline">
                <input class="form-check-input " type="radio" name="inlineRadioOptions{{ip}}{{port}}" id="radio1{{ip}}{{port}}"
                    value="Yes" required>
                <label class="form-check-label" for="radio1{{ip}}{{port}}">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input " type="radio" name="inlineRadioOptions{{ip}}{{port}}" id="radio2{{ip}}{{port}}"
                    value="No" required>
                <label class="form-check-label" for="radio2{{ip}}{{port}}">No</label>
            </div>
        </div>
        <div class="form-group">
            <label for="textArea{{ip}}{{port}}">What is the purpuse of this port?</label>
            <textarea class="form-control" id="textArea{{ip}}{{port}}" name = "textArea{{ip}}{{port}}" rows="3"></textarea>            
        </div>

        {% endfor %}
        {% endfor %}
        <input type="hidden" name="targetname" value="{{targetname}}">
        <td><button type="submit" class="portform btn btn-primary" id="portbutton">Submit answers</button></td>
    </form>
</div>
</tr>

{% endblock %}