{% extends 'base.html' %}

{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}

{% block nav %}
<a class="nav-link" href="/scan">Scan device</a>
<a class="nav-link" href="/configuration">Confgiuration</a>
<a class="nav-link active" href="/reports">Reports</a>
{% endblock %}

{% block body %}
<h1>reports</h1>
<table>
    <tr>
        <th>Select</th>
        <th>TaskName</th>
        <th>report format</th>
        <th>Download</th>
    </tr>
    {% for task in tasks %}
        <tr>
            <form action="/downloadreport" method=POST>
                <input type="hidden" name="report_id" value="{{task.report_id}}">
                <td><input type="checkbox" id="select"></td>
                <td>{{task.task_name}}</td>
                <td>
                    <select name="format">
                        <option  selected>Please choose</option>
                        {% for k, v in reports.items() %}
                            <option value="{{k}}">{{v}}</option>
                        {% endfor%}
                    </select>
                </td>
                <td><input type="submit" value="Download"></td>
            </form>
        </tr>
    {% endfor %}
</table>
    
{% endblock %}
    