{% extends 'base.html' %}

{% block head %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% endblock %}

{% block nav %}
<a class="nav-link" href="/scan">Scan device</a>
<a class="nav-link" href="/configuration">Confgiuration</a>
<a class="nav-link active" href="/reports">Reports</a>
{% endblock %}

{% block body %}
<div class="row">
    <h1>Reports</h1>
</div>
<br>
<div class="row">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Select</th>
                    <th>Taskname</th>
                    <th>Report format</th>
                    <th></th>
                </tr>
            </thead>
            {% for task in tasks %}
            <tr>
                <form action="/downloadreport" method=POST>
                    <input type="hidden" name="report_id" value="{{task.report_id}}">
                    <td><input type="checkbox" id="select"></td>
                    <td>{{task.task_name}}</td>
                    <td>
                        <div class="dropdown">
                            <select name="format" class="btn btn-sm btn-secondary dropdown-toggle">
                                <!-- <option selected>Please choose</option> -->
                                {% for k, v in reports.items() %}
                                <option value="{{k}}">{{v}}</option>
                                {% endfor%}
                            </select>
                        </div>
                    
                    </td>
                    <td><input class="btn btn-outline-primary" type="submit" value="Download"></td>
                </form>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}