{% extends 'base.html' %}

{% block head %}
<script type="text/python" src="../app.py"></script>
{% endblock %}

{% block nav %}
<a class="nav-link " href="/createScan">Scan device</a>
<a class="nav-link" href="/configuration">Confgiuration</a>
<a class="nav-link" href="/reports">Reports</a>
{% endblock %}

{% block body %}
<!-- <h1>Success, your scan has started</h1> -->
<h1>{{msg}}</h1>
<br>
<h3>Progress:</h3>
<br>
<br>
<h3 id="progrss">0%</h3>
<div id="progrsss" class="progress"></div>
<br>
<br>
<br>
<br>
<form action="/portQuestions" method="POST" target="_blank">
    <input type="hidden" value="{{targetname}}" name="targetname">
    <button type="submit" class="btnPortQuestions btn btn-primary">Click here to answer the port questions to improve the security of target {{targetname}}!</button>
</form>
<br>
<br>
<form action="/reports" method="POST" target="_blank">
    <button id="reportsbutton" type="submit" class="btnOpenReport btn btn-primary">Click here to go to your reports</button>
</form>


<script type="text/javascript" src="static/css_image/progress.js"></script>
{% endblock %}